NodeRed/flow1.json
[
    {
        "id": "46e6fc32.2cd194",
        "type": "tab",
        "label": "流程1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "58f844ee.42a4ac",
        "type": "rpi-gpio in",
        "z": "46e6fc32.2cd194",
        "name": "Button",
        "pin": "11",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "38a9c1a0.bbecce",
                "bcf6e540.3aed48"
            ]
        ]
    },
    {
        "id": "bcf6e540.3aed48",
        "type": "switch",
        "z": "46e6fc32.2cd194",
        "name": "If input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "dc45380a.af3178"
            ],
            [
                "71d1c7c4.f7bb58"
            ]
        ]
    },
    {
        "id": "dc45380a.af3178",
        "type": "change",
        "z": "46e6fc32.2cd194",
        "name": "Change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 300,
        "wires": [
            [
                "b2a8b455.213838"
            ]
        ]
    },
    {
        "id": "38a9c1a0.bbecce",
        "type": "debug",
        "z": "46e6fc32.2cd194",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 350,
        "y": 240,
        "wires": []
    },
    {
        "id": "b2a8b455.213838",
        "type": "rpi-gpio out",
        "z": "46e6fc32.2cd194",
        "name": "LED",
        "pin": "12",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "71d1c7c4.f7bb58",
        "type": "change",
        "z": "46e6fc32.2cd194",
        "name": "Change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 400,
        "wires": [
            [
                "b2a8b455.213838"
            ]
        ]
    }
]
